* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0,0,0,0.8)), url(../img/bg_black-white-1920x1080.jpg) center no-repeat;
  background-size: cover;
}
span {
  display: inline-block;
}
.calc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 1068px;
  margin: 0 auto;
  padding-bottom: 1rem;
  border: 2px solid #efae02;
}

.calc-tabs {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.calc-tab--left,
.calc-tab--right {
  width: 200px;
  height: 70px;
  margin-right: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #cecece;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.77) 0%, #323131 100%);
  border-radius: 0 15px 0 0;
  border-color: #fff;
}

.calc-tab--left {
  border-radius: 15px 0 0 0;
}

.calc-tabs .active {
  background: #efae02;
  color: #000;
  position: relative;
}

.calc-tabs .active:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  background: #efae02;
  left: 0;
  bottom: -6px;
}

.counter {
  border: 3px solid rgba(239, 174, 2, 0.6);
  width: 132px;
  height: 60px;
  background-color: transparent;
  text-align: center;
  color: #efae02;
  font-weight: 700;
  font-size: 4.8rem;
}

.calc-item {
  width: 70%;
  margin-bottom: 30px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocks-title {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
}

.blocks-title:before {
  width: 100%;
  position: absolute;
  content: "";
  height: 1px;
  background-color: #efae02;
  bottom: 0;
  left: 0;
}

.calc-item__pages {
  display: none;
}

.addition {
  color: #efae02;
  font-size: 3rem;
  font-weight: 700;
}

.addition-title {
  text-align: center;
}

.addition-block {
  display: block;
  text-align: left;
}
.addition-block {
  cursor: pointer;
}
.addition-block input {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  opacity: 0.5;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-size: 3.6rem;
  font-weight: 700;
}

.total-output {
  position: relative;
  width: 170px;
  height: 60px;
  color: #efae02;
  font-size: 5.6rem;
  font-weight: 700;
  text-align: right;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #efae02;
}
.notes {
  font-size: 1.6rem;
}
