* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  padding-top: 60px;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.calc-wrapper {
  border: 2px solid #efae02;
  width: 1068px;
  height: 746px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.calc-tabs {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.calc-tab--left,
.calc-tab--right {
  width: 200px;
  height: 70px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #cecece;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.77) 0%, #323131 100%);
  border-radius: 0 15px 0 0;
  border-color: #fff;
}

.calc-tab--left {
  border-radius: 15px 0 0 0;
}

.calc-tabs .active {
  background: #efae02;
  color: #000;
  position: relative;
}

.calc-tabs .active:before {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  background: #efae02;
  left: 0;
  bottom: -6px;
}

.counter {
  border: 3px solid rgba(239, 174, 2, 0.6);
  width: 132px;
  height: 60px;
  background-color: transparent;
  text-align: center;
  color: #efae02;
  font-weight: 700;
  font-size: 48px;
}

.calc-item {
  width: 70%;
  margin-bottom: 30px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocks-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.blocks-title:before {
  width: 100%;
  position: absolute;
  content: "";
  height: 1px;
  background-color: #efae02;
  bottom: 0;
  left: 0;
}

.calc-item__pages {
  display: none;
}

.addition {
  color: #efae02;
  font-size: 30px;
  font-weight: 700;
}

.addition-title {
  text-align: center;
}

.addition-block {
  display: block;
  text-align: left;
}

.addition-block input[type="checkbox"] {
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.total-output {
  position: relative;
  width: 170px;
  height: 60px;
  color: #efae02;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #efae02;
}
